%h1
  Creator Options

= link_to 'Create a Plan', new_plan_path
%br

= link_to 'Create a Stage', new_stage_path
%br

= link_to 'Publish a Plan', plans_path
%br

= link_to 'Add Stages to a Plan', plans_path
