%h2
  Creator Tutorial

%h3
  Introduction

%p
  A "course," or series of steps you want a participant ("User") to go through is called a <strong>"Flow"</strong>.
  Each step is called a <strong>"Stage."</strong>. These Stages are the the building blocks of your Flows.
  Once you've created a Stage you can use it in any number of Flows, and a Flow can have any number of Stages.

%h4
  Flows

%p
  Every Flow has a name (or title) and a description. The title should be clear and concise, and should encourage a User to read more about the Flow. They can learn more in the Description. This can be a longer block of text explaining what the Flow consists of, what it's meant to do, and why a user should try it. The Flow can also have an optional image associated with it.

%p
  Any Flow can be published or unpublished at any time, and a User can only see published Flows.

%p
  You can edit, delete, publish, or unpublish, a Flow at any time.

%h4
  Stages

%p
  Stages are the building blocks of Flows. They all consist of at least a Name (or Title) and a Description (both are always required). The Description is what you want to tell the User - the "meat" of the course - the content.

%h4
  Stages Come in Various Types:

%ul
  %li
    %strong
      General:
    Stages with text (name and description), and an optional image and/or resource (PDF file).
  %li
    %strong
      ToDo:
    Same as General stages, except any time a user enters a ToDo Stage they will be sent an email with the contents of the Stage - think of these as "homework" assignments.
  %li
    %strong
      Video:
    A Video stage has its content enhanced by a YouTube video with instructions, guided meditations, etc. You'll want to use a YouTube link with "embed" in it for it to work nicely in the in browser video player.
  %li
    %strong
      Survey:
    A Survey Stage includes an embedded Wufoo form that you've created. This is an opportunity to ask the User questions and collect information.
  %li
    %strong
      Discussion:
    A Discussion Stage includes a link to a Slack Channel for a specific discussion topic. The User will have to go off site to participate.

%p
  %strong
    Note:
  Once you've created a Stage you cannot edit its content. This is because it may be in use in other Flows besides your own. You also
  cannot Delete a Stage until all the Flows it is a part of have been deleted.

%h3
  Creating A Flow

%p
  While you can create Stages and Flows in any order, and recombine them later via "Manage Flow" > "Add Stages to a Flow." It is recommended that you create your Flow like this:

%ol
  %li
    First, gather all the content you want to include in your Flow Stages.
  %li
    Then, create your Flow, once you've submitted your Flow it will take you right into creating Stages
  %li
    Create you Stages, one at a time, in the order you want them to appear in your Flow.
  %li
    Once your Flow is complete, return to the Flow list page, find your Flow, and preview it to make sure you like it.
  %li
    Presuming you are happy with your Flow, Publish it.

%p
  %strong
    Note:
  While you can always remove Stages from a Flow there is no tool for reordering beyond deleting, and re-adding.

.panel
  .panel-body
    .text-center
      = link_to 'Create a Flow', new_plan_path
      >
      = link_to('Create a Stage', new_stage_path, 'data-turbolinks' => false)
      >
      = link_to 'Add Stages to a Flow', plans_path
      >
      = link_to 'Publish a Flow', plans_path
