// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

html {
  background-color: #D9E6F2;
	height: 100%;
}
body {
	// Background image
	height: 100%;
  background-image: url("rocks_on_shore.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 2000px;
 	// Font 
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.header {
  padding: 10px;
  margin-top: -20px; // @todo: No idea why
	//background-color: lightgray;
  background-color: #D9E6F2;
  a {
    padding: 10px;
    color: black;
  }

}
.content-box {
	margin: auto;
	max-width: 800px;
}
.content {
	margin: 5px;
	background:rgba(255,255,255,0.5);
  padding: 20px;
}
