%h1
  Flows

- if current_user && current_user.admin_or_creator?
  %h2
    Unpublished Flows
    .small
      Only visible to admins and creators

  .text-right
    = link_to('Create a New Flow', new_plan_path, class: 'btn btn-default')
    = link_to('Create a New Stage', new_stage_path, class: 'btn btn-default')
    <br />
    <br />

  = render 'plans/unpublished'

%h2
  Available Flows

= render 'plans/published'
